{% load static %}
<!DOCTYPE html>
<html lang="en-GB" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="https://smartinsurance.com/xmlrpc.php">
    <meta name="robots" content="noodp">

    <title>Cookie Policy - Smart Insurance</title>

    <!-- This site is optimized with the Yoast SEO plugin v4.5 - https://yoast.com/wordpress/plugins/seo/ -->
    <link rel="canonical" href="https://smartinsurance.com/cookie-policy/" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Cookie Policy - Smart Insurance" />
    <meta property="og:url" content="https://smartinsurance.com/cookie-policy/" />
    <meta property="og:site_name" content="Smart Insurance" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Cookie Policy - Smart Insurance" />
    <!-- / Yoast SEO plugin. -->

    <link rel='dns-prefetch' href='//ajax.googleapis.com' />
    <link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />
    <link rel='dns-prefetch' href='//maps.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="Smart Insurance &raquo; Feed"
        href="https://smartinsurance.com/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Smart Insurance &raquo; Comments Feed"
        href="https://smartinsurance.com/comments/feed/" />
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/",
            "svgExt": ".svg",
            "source": {
                "concatemoji": "https:\/\/smartinsurance.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.16"
            }
        };
        ! function (a, b, c) {
            function d(a) {
                var b, c, d, e, f = String.fromCharCode;
                if (!k || !k.fillText) return !1;
                switch (k.clearRect(0, 0, j.width, j.height), k.textBaseline = "top", k.font = "600 32px Arial", a) {
                    case "flag":
                        return k.fillText(f(55356, 56826, 55356, 56819), 0, 0), !(j.toDataURL().length < 3e3) && (k
                            .clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 65039, 8205, 55356,
                                57096), 0, 0), b = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(
                                f(55356, 57331, 55356, 57096), 0, 0), c = j.toDataURL(), b !== c);
                    case "emoji4":
                        return k.fillText(f(55357, 56425, 55356, 57341, 8205, 55357, 56507), 0, 0), d = j.toDataURL(), k
                            .clearRect(0, 0, j.width, j.height), k.fillText(f(55357, 56425, 55356, 57341, 55357, 56507),
                                0, 0), e = j.toDataURL(), d !== e
                }
                return !1
            }

            function e(a) {
                var c = b.createElement("script");
                c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }
            var f, g, h, i, j = b.createElement("canvas"),
                k = j.getContext && j.getContext("2d");
            for (i = Array("flag", "emoji4"), c.supports = {
                    everything: !0,
                    everythingExceptFlag: !0
                }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports
                .everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports
                    .everythingExceptFlag && c.supports[i[h]]);
            c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c
                .readyCallback = function () {
                    c.DOMReady = !0
                }, c.supports.everything || (g = function () {
                    c.readyCallback()
                }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load",
                    g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () {
                    "complete" === b.readyState && c.readyCallback()
                })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji),
                    e(f.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='archives-cal-arw-theme1-css' href='{% static "indexcss/arw-theme1.css" %}'
        type='text/css' media='all' />
    <link rel='stylesheet' id='main-css-css' href='{% static "indexcss/styles.min.css" %}' type='text/css'
        media='all' />
    <!-- This site uses the Google Analytics by MonsterInsights plugin v6.1.4 - Using Analytics tracking - https://www.monsterinsights.com/ -->
    <script type="text/javascript" data-cfasync="false">
        // Function to detect opted out users
        function __gaTrackerIsOptedOut() {
            return document.cookie.indexOf(disableStr + '=true') > -1;
        }

        // Disable tracking if the opt-out cookie exists.
        var disableStr = 'ga-disable-UA-48659547-1';
        if (__gaTrackerIsOptedOut()) {
            window[disableStr] = true;
        }

        // Opt-out function
        function __gaTrackerOptout() {
            document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
            window[disableStr] = true;
        }

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', '__gaTracker');

        __gaTracker('create', 'UA-48659547-1', 'auto');
        __gaTracker('set', 'forceSSL', true);
        __gaTracker('require', 'displayfeatures');
        __gaTracker('require', 'linkid', 'linkid.js');
        __gaTracker('send', 'pageview');
    </script>
    <!-- / Google Analytics by MonsterInsights -->
    <script type='text/javascript'>
        /* <![CDATA[ */
        var monsterinsights_frontend = {
            "js_events_tracking": "true",
            "is_debug_mode": "false",
            "download_extensions": "doc,exe,js,pdf,ppt,tgz,zip,xls",
            "inbound_paths": "",
            "home_url": "https:\/\/smartinsurance.com",
            "track_download_as": "event",
            "internal_label": "int",
            "hash_tracking": ""
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src='{% static "indexcss/frontend.min.js"%}'></script>
    <script type='text/javascript' src='{% static "indexcss/jquery.js" %}'></script>
    <script type='text/javascript' src='{% static "indexcss/jquery-migrate.min.js" %}'></script>
    <script type='text/javascript' src='{% static "indexcss/jquery.arcw-init.js" %}'></script>
    <link rel='https://api.w.org/' href='https://smartinsurance.com/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://smartinsurance.com/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml"
        href="https://smartinsurance.com/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.7.16" />
    <link rel='shortlink' href='https://smartinsurance.com/?p=33654' />
    <link rel="alternate" type="application/json+oembed"
        href="https://smartinsurance.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fsmartinsurance.com%2Fcookie-policy%2F" />
    <link rel="alternate" type="text/xml+oembed"
        href="https://smartinsurance.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fsmartinsurance.com%2Fcookie-policy%2F&#038;format=xml" />
    <link rel="icon" href="https://smartinsurance.com/wp-content/uploads/2017/03/favicon-80x80.jpg" sizes="32x32" />
    <link rel="icon" href="https://smartinsurance.com/wp-content/uploads/2017/03/favicon-300x300.jpg" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed"
        href="https://smartinsurance.com/wp-content/uploads/2017/03/favicon-300x300.jpg" />
    <meta name="msapplication-TileImage"
        content="https://smartinsurance.com/wp-content/uploads/2017/03/favicon-300x300.jpg" />
    <style type="text/css" id="wp-custom-css">
        /*
You can add your own CSS here.

Click the help icon above to learn more.
*/

        .hidden-xs-up {
            display: none;
        }
    </style>

    <script src="https://use.typekit.net/vxg6qpn.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>

</head>

<body class="page-template-default page page-id-33654">

    <div id="website-container">

        <header class="header bg-dark-blue col-white"></header>

        <h2 class="logo logo--header"><a href="https://smartinsurance.com/" rel="home">Smart Insurance</a></h1>

            <div class="header-angle"></div>

            <div class="menu-mobile visible-xs-block visible-sm-block visible-md-block">
                <a href="#" class="toggle-phone"><i class="zmdi zmdi-phone"></i></a>
                <a href="#" class="toggle-menu visible-xs-block visible-sm-block"><i class="zmdi zmdi-menu"></i></a>
            </div><!-- header__mobile -->

            <div class="top-contact bg-dark-blue">
                <p>
                    <span class="col-light-blue bold">Support <i class="zmdi zmdi-phone"></i></span>
                    <a href="tel:0800 077 8713" class="col-white">0800 012 1830</a>
                </p>
                <p>
                    <span class="col-green bold">Claims <i class="zmdi zmdi-phone"></i></span>
                    <a href="tel:0800 077 8713" class="col-white">0800 077 8713</a>
                </p>
            </div><!-- .header__contact -->

            <nav class="menu-container bg-dark-blue">
                <div class="menu-header-container">
                    <ul id="primary-menu" class="menu">
                        <li id="menu-item-29"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-29">
                            <a href="https://smartinsurance.com/">Home</a></li>
                        <li id="menu-item-384"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-384"><a
                                href="https://smartinsurance.com/category/news/">News</a></li>
                        <li id="menu-item-36"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a
                                href="https://smartinsurance.com/contact-us/">Contact Us</a></li>
                        <li id="menu-item-33993"
                            class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-33993">
                            <a href="https://smartinsurance.com/privacy-policy/">Our Policies</a>
                            <ul class="sub-menu">
                                <li id="menu-item-33995"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33995"><a
                                        href="https://smartinsurance.com/privacy-policy/">Privacy Policy</a></li>
                                <li id="menu-item-33994"
                                    class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-33654 current_page_item menu-item-33994">
                                    <a href="https://smartinsurance.com/cookie-policy/">Cookie Policy</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-795"
                            class="button angle bg-green col-white menu-item menu-item-type-post_type menu-item-object-page menu-item-795">
                            <a href="https://smartinsurance.com/minor-damage-insurance/">Make a Claim</a></li>
                    </ul>
                </div>
                <div class="menu-container__overlay">

                </div>
                <!--.menu-container__overlay-->
            </nav>

            <div class="banner"
                style="background-image: url(https://smartinsurance.com/wp-content/uploads/2017/03/banner.jpg)">

                <a href="https://smartinsurance.com/privacy-policy/" class="next-link">Privacy Policy <i
                        class="zmdi zmdi-chevron-right">
                    </i>
                </a> <a href="https://smartinsurance.com/minor-damage-insurance/" class="prev-link">
                    <i class="zmdi zmdi-chevron-left">
                    </i> Minor Damage Insurance</a>
                <div class="banner__dots"></div>

                <div class="banner__content">

                    <h1 class="col-white bold">Cookie Policy</h1>

                    <p class="col-white"> for www.smartinsurance.com</p>
                </div><!-- .banner_-content -->
            </div><!-- .banner -->
            <div class="container-fluid">
                <div class="row columns columns--default columns-1">


                    <div class="col-xs-12 col-md-12 col-lg-12 bg-white column">


                        <div class="block block--padded">

                            <h2 class="column-title col-light-blue bold"></h2>


                            <div class="clearfix"></div>

                            <p class="lead col-dark-blue">What are Cookies?</p>
                            <p>As you may already know, cookies are small text files downloaded to your computer when
                                you visit a website. This website, like almost every other, uses cookies to give you a
                                better online experience.</p>
                            <p>We&#8217;ve changed the way our website works so that we can keep up to date with recent
                                developments in the law relating to cookies. This means that we need your consent to use
                                cookies when you are browsing our site. To help you understand the types of cookies we
                                use (or those which may be used by third parties on our site), we have categorised the
                                cookies in relation to their functionality. These four categories are:</p>
                            <ul>
                                <li>Strictly Necessary Cookies</li>
                                <li>Performance Cookies</li>
                                <li>Functionality Cookies</li>
                                <li>Targeting Cookies</li>
                            </ul>
                            <p>If you enter <a href="http://www.smartinsurance.com"><em>www.smartinsurance.com</em></a>
                                but choose not to alter your cookie settings, we will take this to mean that you are
                                happy for all types of cookies to be used.</p>
                            <p>However, if you prefer not to allow the use of cookies altogether, you can change the
                                configuration of your browser to either warn you when you receive a cookie, or to
                                automatically reject them.</p>
                            <p>You may find that disabling cookies means certain areas of the site do not function
                                correctly and we cannot guarantee access to all the services we provide through our
                                website. Also, if you delete all of your cookies, or use a different device to access
                                our website, you may have to choose your preferences again.</p>
                            <p>To find more about cookies, including how to see what cookies have been set and how to
                                manage and delete them, please visit <a
                                    href="http://www.allaboutcookies.org/"><strong><em>www.allaboutcookies.org</em></strong></a><strong>.</strong>
                            </p>
                            <p>The cookies used on <a
                                    href="http://www.smartinsurance.com"><strong><em>www.smartinsurance.com</em></strong></a>
                                have been categorised based on the ICC UK Cookie guide. A list of all the cookies used
                                on this website by category is set out above.</p>
                            <p>A detailed description for each of the different cookies and how we use them is set out
                                below.</p>
                            <p class="lead col-dark-blue">Strictly Necessary Cookies</p>
                            <p>Strictly Necessary cookies are essential to let you move around the website and use its
                                features. These cookies allow our website to provide services at your request.</p>
                            <p><strong>These cookies don&#8217;t gather any information that could be used for marketing
                                    to you or remember your preferences/ID, other than for your current
                                    session.</strong></p>
                            <p>Strictly necessary cookies are used to:</p>
                            <ul>
                                <li>Identify you as being logged on to this website.</li>
                                <li>Remember previous actions when navigating between different pages on this website.
                                </li>
                                <li>Remember things like service selections you have made which allow us to provide you
                                    with the services you have requested.</li>
                            </ul>
                            <p><strong>Accepting these cookies is a condition of using the website.</strong></p>
                            <p>Cookies we consider to be Strictly Necessary:</p>
                            <p><a
                                    href="http://www.smartinsurance.com"><strong><em>www.smartinsurance.com</em></strong></a><strong>&#8216;s
                                    cookies;</strong></p>
                            <ul>
                                <li>ARRAffinity</li>
                                <li>ASP.NET_SessionId</li>
                            </ul>
                            <p class="lead col-dark-blue">
                                <p class="lead col-dark-blue">Performance Cookies</p>
                                <p>Performance cookies collect information about how you use our website e.g. which
                                    pages you visit most often, and if you experience any error messages. They also
                                    allow us to update our website to improve performance and tailor it to your
                                    preferences.</p>
                                <p>These cookies don&#8217;t collect any information that could identify you – all the
                                    information collected is anonymous. They will not be used to target adverts to you
                                    on other websites.</p>
                                <p>Performance cookies are used to:</p>
                                <ul>
                                    <li>Provide statistics on how this website is used (including selections that you
                                        have made and goods and services that you have viewed, during your use of this
                                        website).</li>
                                    <li>Gather non-user specific data about the usage on this website and provide
                                        statistics about how this website is used.</li>
                                    <li>Provide and track the effectiveness of videos embedded in this website.</li>
                                    <li>Test different designs on our website.</li>
                                </ul>
                                <p>Where our performance cookies are managed by third parties, we don&#8217;t allow them
                                    to use the cookies for any purpose other than those listed above.</p>
                                <p>Cookies we consider to be Performance cookies:</p>
                                <p><a
                                        href="http://www.smartinsurance.com"><strong><em>www.smartinsurance.com</em></strong></a><strong>&#8216;s
                                        cookies;</strong></p>
                                <ul>
                                    <li>_dc_gtm_UA-32587909-1</li>
                                </ul>
                                <p><strong>Cookies provided by 3rd parties;</strong></p>
                                <table style="height: 106px;" width="800">
                                    <thead>
                                        <tr>
                                            <td width="175"><strong>Cookie</strong></td>
                                            <td width="221"><strong>Host</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td width="75">__ga<br />
                                                __gid<br />
                                                __uetsid</td>
                                            <td width="221">google.com</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>&nbsp;</p>
                                <p>To opt out of being tracked by Google Analytics across all websites please visit <a
                                        href="http://tools.google.com/dlpage/gaoptout"><em>http://tools.google.com/dlpage/gaoptout</em></a>
                                </p>
                                <p class="lead col-dark-blue">
                                    <p class="lead col-dark-blue">Functionality Cookies</p>
                                    <p>Functionality cookies are used to remember the choices you make, e.g. your user
                                        name, log in details and language preferences. They also remember any
                                        customisations you make to the website to give you enhanced, more personal
                                        features.</p>
                                    <p>Functionality cookies are used to:</p>
                                    <ul>
                                        <li>Identify you as having consented to use of cookies by this website.</li>
                                        <li>Remember settings you&#8217;ve applied such as layout, text size,
                                            preferences and colours.</li>
                                        <li>Providing proactive live chat sessions to help you with support.</li>
                                        <li>Share information with partners to provide a service on our website. The
                                            information shared is only to be used to provide the service, product or
                                            function and not for any other purpose.</li>
                                        <li>Show you when you&#8217;re already logged in to the website.</li>
                                        <li>Provide enhanced log-in functionality where you choose i.e. (such as keeping
                                            you logged in even when you navigate away from the site).</li>
                                    </ul>
                                    <p>We will not use functionality cookies to target you with adverts on other
                                        websites.</p>
                                    <p>Where our functionality cookies are managed by third parties, we don&#8217;t
                                        allow them to use the cookies for any purpose other than those listed above.</p>
                                    <p>As the name suggests, if you choose not to allow these cookies, the functionality
                                        of this website may be affected. It is also possible that by not permitting
                                        these cookies, our website won&#8217;t be able to remember some of the specific
                                        services you have chosen.</p>
                                    <p>Cookies we consider to be Functionality cookies:</p>
                                    <p><a
                                            href="http://www.smartinsurance.com"><strong><em>www.smartinsurance.com</em></strong></a><strong>&#8216;s
                                            cookies;</strong></p>
                                    <ul>
                                        <li>SiteVisitorId</li>
                                    </ul>
                                    <p class="lead col-dark-blue">
                                        <p class="lead col-dark-blue">Targeting Cookies</p>
                                        <p>Targeting cookies collect information about your browsing habits to deliver
                                            adverts which are more relevant to you and your interests. They also measure
                                            the effectiveness of advertising campaigns.</p>
                                        <p>Targeting cookies are used to:</p>
                                        <ul>
                                            <li>Link to social networks like Facebook, who may subsequently use
                                                information about your visit to target advertising to you on other
                                                websites.</li>
                                            <li>Provide advertising agencies with information on your visit so that they
                                                can present you with adverts that you may be interested in.</li>
                                        </ul>
                                        <p>All of these cookies are managed by third parties, and you may alternatively
                                            use the third parties&#8217; own tools to prevent these cookies.</p>
                                        <p>Cookies we consider to be Targeting cookies:</p>
                                        <p><a
                                                href="http://www.smartinsurance.com"><strong><em>www.smartinsurance.com</em></strong></a><strong>’s
                                                cookies;</strong></p>
                                        <ul>
                                            <li>MUID</li>
                                            <li>IDE</li>
                                            <li>_uetsid</li>
                                        </ul>
                                        <p><strong>Cookies provided by 3rd parties;</strong></p>
                                        <table style="height: 289px;" width="1000">
                                            <thead>
                                                <tr>
                                                    <td width="27%"><strong>Cookie</strong></td>
                                                    <td width="72%"><strong>Host</strong></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td width="27%">datr<br />
                                                        locale<br />
                                                        ul<br />
                                                        _e_oPLf_0</td>
                                                    <td width="72%">facebook.com</td>
                                                </tr>
                                                <tr>
                                                    <td width="27%">NID<br />
                                                        PREF<br />
                                                        VISITOR_INFO1_LIVE</td>
                                                    <td width="72%">google.com</td>
                                                </tr>
                                                <tr>
                                                    <td width="27%">guest_id<br />
                                                        k<br />
                                                        pid</td>
                                                    <td width="72%">twitter.com</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                        </div><!-- .block--padded -->
                    </div>


                </div><!-- .row -->
            </div><!-- .container-fluid -->




            <footer class="footer bg-vdark-blue col-white small">
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <p class="logo logo--footer"><a href="https://smartinsurance.com/" rel="home">Smart
                                Insurance</a></p>

                        <p class="copyright"><span class="col-light-blue">&copy;</span> 2020</p>
                    </div>

                    <div class="footer__content col-xs-12 col-md-8 col-lg-6 col-lg-offset-1 align-centre">
                        <p>Smart cover policy is Administered by AutoProtect (MBI) Limited, Warwick House, Roydon Road,
                            Harlow, Essex, CM19 5DY. (Registered in England, No.05089293).</p>
                        <p>AutoProtect (MBI) Limited is fully authorised (FRN 312143) and regulated by the Financial
                            Conduct Authority (FCA) Register No.312143</p>
                    </div><!-- .footer__content -->

                    <div class="col-xs-12 col-md-2 col-lg-offset-1 credit">
                        <p><a href="#" class="col-white to-top">Back to top <i class="zmdi zmdi-chevron-up"></i></a></p>
                        <p>Website by <a href="http://www.fantasticmedia.co.uk" target="_blank"
                                title="Website design and development services" class="bold col-white">Fantastic
                                Media</a></p>
                    </div>
                </div><!-- .row -->
            </footer>

    </div><!-- #website-container -->

    <script type='text/javascript' src='{% static "indexcss/jquery-ui.min.js" %}'></script>
    <script type='text/javascript' src='{% static "indexcss/owl.carousel.min.js" %}'></script>
    <script type='text/javascript' src='{% static "indexcss/bootstrap.min.js" %}'></script>
    <script type='text/javascript'
        src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCK67WzdNc0fCtCs6L8DA3E0JUcb6SfcnY&#038;ver=4.7.16'>
    </script>
    <script type='text/javascript' src='{% static "indexcss/plupload.full.min.js" %}'></script>
    <script type='text/javascript' src='{% static  "indexcss/jquery.ui.touch-punch.min.js"%} '>
    </script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var localizedData = {
            "ajax_url": "https:\/\/smartinsurance.com\/wp-admin\/admin-ajax.php"
        };
        /* ]]> */
    </script>
    <script type='text/javascript' src='{% static "indexcss/site.min.js" %}'></script>
    <script type='text/javascript' src='{% static "indexcss/wp-embed.min.js" %} '></script>
    <!--Start Cookie Script-->
    <script type="text/javascript" charset="UTF-8" src="{% static 'indexcss/b57a4a201ce37a2a35405d85053837d0.js' %}">
    </script>
    </script>
    <!--End Cookie Script-->
    <!--Start Mouseflow Script-->
    <script type="text/javascript">
        window._mfq = window._mfq || [];
        (function () {
            var mf = document.createElement("script");
            mf.type = "text/javascript";
            mf.async = true;
            mf.src = "{% static 'indexcss/3955fe1f-bde7-496a-b810-3c34c578d159.js' %}";
            document.getElementsByTagName("head")[0].appendChild(mf);
        })();
    </script>
    <!--End Mouseflow Script-->
</body>

</html>