{% load static %}
<!DOCTYPE html>
<html lang="en-GB" prefix="og: http://ogp.me/ns#">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="https://smartinsurance.com/xmlrpc.php">
	<meta name="robots" content="noodp">

	<title>News Archives - Smart Insurance</title>

	<!-- This site is optimized with the Yoast SEO plugin v4.5 - https://yoast.com/wordpress/plugins/seo/ -->
	<link rel="canonical" href="https://smartinsurance.com/category/news/" />
	<meta property="og:locale" content="en_GB" />
	<meta property="og:type" content="object" />
	<meta property="og:title" content="News Archives - Smart Insurance" />
	<meta property="og:description"
		content="All the latest that&#8217;s happening at Smart Insurance and in the F&amp;I industry" />
	<meta property="og:url" content="https://smartinsurance.com/category/news/" />
	<meta property="og:site_name" content="Smart Insurance" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="News Archives - Smart Insurance" />
	<!-- / Yoast SEO plugin. -->

	<link rel='dns-prefetch' href='//ajax.googleapis.com' />
	<link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />
	<link rel='dns-prefetch' href='//maps.googleapis.com' />
	<link rel='dns-prefetch' href='//s.w.org' />
	<link rel="alternate" type="application/rss+xml" title="Smart Insurance &raquo; Feed"
		href="https://smartinsurance.com/feed/" />
	<link rel="alternate" type="application/rss+xml" title="Smart Insurance &raquo; Comments Feed"
		href="https://smartinsurance.com/comments/feed/" />
	<link rel="alternate" type="application/rss+xml" title="Smart Insurance &raquo; News Category Feed"
		href="https://smartinsurance.com/category/news/feed/" />
	<script type="text/javascript">
		window._wpemojiSettings = {
			"baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/",
			"ext": ".png",
			"svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/",
			"svgExt": ".svg",
			"source": {
				"concatemoji": "https:\/\/smartinsurance.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.16"
			}
		};
		! function (a, b, c) {
			function d(a) {
				var b, c, d, e, f = String.fromCharCode;
				if (!k || !k.fillText) return !1;
				switch (k.clearRect(0, 0, j.width, j.height), k.textBaseline = "top", k.font = "600 32px Arial", a) {
					case "flag":
						return k.fillText(f(55356, 56826, 55356, 56819), 0, 0), !(j.toDataURL().length < 3e3) && (k.clearRect(
								0, 0, j.width, j.height), k.fillText(f(55356, 57331, 65039, 8205, 55356, 57096), 0, 0),
							b = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 55356,
								57096), 0, 0), c = j.toDataURL(), b !== c);
					case "emoji4":
						return k.fillText(f(55357, 56425, 55356, 57341, 8205, 55357, 56507), 0, 0), d = j.toDataURL(), k
							.clearRect(0, 0, j.width, j.height), k.fillText(f(55357, 56425, 55356, 57341, 55357, 56507), 0,
							0), e = j.toDataURL(), d !== e
				}
				return !1
			}

			function e(a) {
				var c = b.createElement("script");
				c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
			}
			var f, g, h, i, j = b.createElement("canvas"),
				k = j.getContext && j.getContext("2d");
			for (i = Array("flag", "emoji4"), c.supports = {
					everything: !0,
					everythingExceptFlag: !0
				}, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c
				.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c
					.supports[i[h]]);
			c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c
				.readyCallback = function () {
					c.DOMReady = !0
				}, c.supports.everything || (g = function () {
						c.readyCallback()
					}, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !
					1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () {
						"complete" === b.readyState && c.readyCallback()
					})), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f
						.wpemoji)))
		}(window, document, window._wpemojiSettings);
	</script>
	<style type="text/css">
		img.wp-smiley,
		img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 .07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
		}
	</style>
	<link rel='stylesheet' id='archives-cal-arw-theme1-css' href="{% static 'indexcss/arw-theme1.css' %}" type='text/css'
		media='all' />
	<link rel='stylesheet' id='main-css-css' href='{% static "indexcss/styles.min.css" %}' type='text/css' media='all' />
	<!-- This site uses the Google Analytics by MonsterInsights plugin v6.1.4 - Using Analytics tracking - https://www.monsterinsights.com/ -->
	<script type="text/javascript" data-cfasync="false">
		// Function to detect opted out users
		function __gaTrackerIsOptedOut() {
			return document.cookie.indexOf(disableStr + '=true') > -1;
		}

		// Disable tracking if the opt-out cookie exists.
		var disableStr = 'ga-disable-UA-48659547-1';
		if (__gaTrackerIsOptedOut()) {
			window[disableStr] = true;
		}

		// Opt-out function
		function __gaTrackerOptout() {
			document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
			window[disableStr] = true;
		}

		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', '__gaTracker');

		__gaTracker('create', 'UA-48659547-1', 'auto');
		__gaTracker('set', 'forceSSL', true);
		__gaTracker('require', 'displayfeatures');
		__gaTracker('require', 'linkid', 'linkid.js');
		__gaTracker('send', 'pageview');
	</script>
	<!-- / Google Analytics by MonsterInsights -->
	<script type='text/javascript'>
		/* <![CDATA[ */
		var monsterinsights_frontend = {
			"js_events_tracking": "true",
			"is_debug_mode": "false",
			"download_extensions": "doc,exe,js,pdf,ppt,tgz,zip,xls",
			"inbound_paths": "",
			"home_url": "https:\/\/smartinsurance.com",
			"track_download_as": "event",
			"internal_label": "int",
			"hash_tracking": ""
		};
		/* ]]> */
	</script>
	<script type='text/javascript' src='{% static "indexcss/frontend.min.js"%}'></script>
	<script type='text/javascript' src='{% static "indexcss/jquery.js" %}'></script>
	<script type='text/javascript' src='{% static "indexcss/jquery-migrate.min.js" %}'></script>
	<script type='text/javascript' src='{% static "indexcss/jquery.arcw-init.js" %}'></script>
	<link rel='https://api.w.org/' href='https://smartinsurance.com/wp-json/' />
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://smartinsurance.com/xmlrpc.php?rsd" />
	<link rel="wlwmanifest" type="application/wlwmanifest+xml"
		href="https://smartinsurance.com/wp-includes/wlwmanifest.xml" />
	<meta name="generator" content="WordPress 4.7.16" />
	<link rel="icon" href="https://smartinsurance.com/wp-content/uploads/2017/03/favicon-80x80.jpg" sizes="32x32" />
	<link rel="icon" href="https://smartinsurance.com/wp-content/uploads/2017/03/favicon-300x300.jpg" sizes="192x192" />
	<link rel="apple-touch-icon-precomposed"
		href="https://smartinsurance.com/wp-content/uploads/2017/03/favicon-300x300.jpg" />
	<meta name="msapplication-TileImage"
		content="https://smartinsurance.com/wp-content/uploads/2017/03/favicon-300x300.jpg" />
	<style type="text/css" id="wp-custom-css">
		/*
You can add your own CSS here.

Click the help icon above to learn more.
*/

		.hidden-xs-up {
			display: none;
		}
	</style>

	<script src="{% static 'vxg6qpn.js'%}"></script>
	<script>
		try {
			Typekit.load({
				async: true
			});
		} catch (e) {}
	</script>

</head>

<body class="archive category category-news category-4">

	<div id="website-container">

		<header class="header bg-dark-blue col-white"></header>

		<h2 class="logo logo--header"><a href="https://smartinsurance.com/" rel="home">Smart Insurance</a></h1>

			<div class="header-angle"></div>

			<div class="menu-mobile visible-xs-block visible-sm-block visible-md-block">
				<a href="#" class="toggle-phone"><i class="zmdi zmdi-phone"></i></a>
				<a href="#" class="toggle-menu visible-xs-block visible-sm-block"><i class="zmdi zmdi-menu"></i></a>
			</div><!-- header__mobile -->

			<div class="top-contact bg-dark-blue">
				<p>
					<span class="col-light-blue bold">Support <i class="zmdi zmdi-phone"></i></span>
					<a href="tel:0800 077 8713" class="col-white">0800 012 1830</a>
				</p>
				<p>
					<span class="col-green bold">Claims <i class="zmdi zmdi-phone"></i></span>
					<a href="tel:0800 077 8713" class="col-white">0800 077 8713</a>
				</p>
			</div><!-- .header__contact -->

			<nav class="menu-container bg-dark-blue">
				<div class="menu-header-container">
					<ul id="primary-menu" class="menu">
						<li id="menu-item-29"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-29">
							<a href="https://smartinsurance.com/">Home</a></li>
						<li id="menu-item-384"
							class="menu-item menu-item-type-taxonomy menu-item-object-category current-menu-item menu-item-384">
							<a href="https://smartinsurance.com/category/news/">News</a></li>
						<li id="menu-item-36"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a
								href="https://smartinsurance.com/contact-us/">Contact Us</a></li>
						<li id="menu-item-33993"
							class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-33993">
							<a href="https://smartinsurance.com/privacy-policy/">Our Policies</a>
							<ul class="sub-menu">
								<li id="menu-item-33995"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33995"><a
										href="https://smartinsurance.com/privacy-policy/">Privacy Policy</a></li>
								<li id="menu-item-33994"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-33994"><a
										href="https://smartinsurance.com/cookie-policy/">Cookie Policy</a></li>
							</ul>
						</li>
						<li id="menu-item-795"
							class="button angle bg-green col-white menu-item menu-item-type-post_type menu-item-object-page menu-item-795">
							<a href="https://smartinsurance.com/minor-damage-insurance/">Make a Claim</a></li>
					</ul>
				</div>
				<div class="menu-container__overlay">

				</div>
				<!--.menu-container__overlay-->
			</nav>

			<div class="banner"
				style="background-image: url(https://smartinsurance.com/wp-content/uploads/2017/03/news-banner.jpg)">


				<div class="banner__dots"></div>

				<div class="banner__content">

					<h1 class="col-white bold">News</h1>

					<span class="col-white">
						<p>All the latest that&#8217;s happening at Smart Insurance and in the F&amp;I industry</p>
					</span>
				</div><!-- .banner_-content -->
			</div><!-- .banner -->
			<div class="container-fluid">
				<div class="row overflow-hidden">
					<div
						class="col-md-4 col-xl-3 visible-md-block visible-lg-block visible-xl-block sidebar block block--padded">
						<div class="sidebar__content">
							<div id="calendar" class="calendar marg-bottom-lg">
								<h3 class="col-light-blue">Archive</h3>
								<p>Choose a month below to filter posts</p>

								<!-- Archives Calendar Widget by Aleksei Polechin - alek´ - http://alek.be -->
								<div class="calendar-archives arw-theme1" id="arc--57">
									<div class="calendar-navigation"><a href="" class="prev-year"><span>
												<</span> </a> <div class="menu-container years"><a
														href="https://smartinsurance.com/2017/" class="title">2017</a>
													<ul class="menu">
														<li><a href="https://smartinsurance.com/2017/"
																class="2017 current" rel="0">2017</a></li>
														<li><a href="https://smartinsurance.com/2016/" class="2016"
																rel="1">2016</a></li>
													</ul>
													<div class="arrow-down"><span>&#x25bc;</span></div>
									</div><a href="" class="next-year"><span>></span></a>
								</div>
								<div class="archives-years">
									<div class="year 2017 current" rel="0">
										<div class="month has-posts"><a href="https://smartinsurance.com/2017/01/"
												title="January, 2017 - 1 Post" data-date="2017-1"><span
													class="month-name">Jan</span><span class="postcount"><span
														class="count-number">1</span> <span
														class="count-text">Post</span></span></a></div>
										<div class="month"><span class="month-name">Feb</span><span
												class="postcount"><span class="count-number">0</span> <span
													class="count-text">Posts</span></span></div>
										<div class="month has-posts"><a href="https://smartinsurance.com/2017/03/"
												title="March, 2017 - 1 Post" data-date="2017-3"><span
													class="month-name">Mar</span><span class="postcount"><span
														class="count-number">1</span> <span
														class="count-text">Post</span></span></a></div>
										<div class="month last"><span class="month-name">Apr</span><span
												class="postcount"><span class="count-number">0</span> <span
													class="count-text">Posts</span></span></div>
										<div class="month"><span class="month-name">May</span><span
												class="postcount"><span class="count-number">0</span> <span
													class="count-text">Posts</span></span></div>
										<div class="month has-posts"><a href="https://smartinsurance.com/2017/06/"
												title="June, 2017 - 1 Post" data-date="2017-6"><span
													class="month-name">Jun</span><span class="postcount"><span
														class="count-number">1</span> <span
														class="count-text">Post</span></span></a></div>
										<div class="month has-posts"><a href="https://smartinsurance.com/2017/07/"
												title="July, 2017 - 3 Posts" data-date="2017-7"><span
													class="month-name">Jul</span><span class="postcount"><span
														class="count-number">3</span> <span
														class="count-text">Posts</span></span></a></div>
										<div class="month last"><span class="month-name">Aug</span><span
												class="postcount"><span class="count-number">0</span> <span
													class="count-text">Posts</span></span></div>
										<div class="month"><span class="month-name">Sep</span><span
												class="postcount"><span class="count-number">0</span> <span
													class="count-text">Posts</span></span></div>
										<div class="month has-posts"><a href="https://smartinsurance.com/2017/10/"
												title="October, 2017 - 2 Posts" data-date="2017-10"><span
													class="month-name">Oct</span><span class="postcount"><span
														class="count-number">2</span> <span
														class="count-text">Posts</span></span></a></div>
										<div class="month has-posts"><a href="https://smartinsurance.com/2017/11/"
												title="November, 2017 - 1 Post" data-date="2017-11"><span
													class="month-name">Nov</span><span class="postcount"><span
														class="count-number">1</span> <span
														class="count-text">Post</span></span></a></div>
										<div class="month last"><span class="month-name">Dec</span><span
												class="postcount"><span class="count-number">0</span> <span
													class="count-text">Posts</span></span></div>
									</div>
									<div class="year 2016 last" rel="1">
										<div class="month has-posts"><a href="https://smartinsurance.com/2016/01/"
												title="January, 2016 - 1 Post" data-date="2016-1"><span
													class="month-name">Jan</span><span class="postcount"><span
														class="count-number">1</span> <span
														class="count-text">Post</span></span></a></div>
										<div class="month"><span class="month-name">Feb</span><span
												class="postcount"><span class="count-number">0</span> <span
													class="count-text">Posts</span></span></div>
										<div class="month"><span class="month-name">Mar</span><span
												class="postcount"><span class="count-number">0</span> <span
													class="count-text">Posts</span></span></div>
										<div class="month last"><span class="month-name">Apr</span><span
												class="postcount"><span class="count-number">0</span> <span
													class="count-text">Posts</span></span></div>
										<div class="month has-posts"><a href="https://smartinsurance.com/2016/05/"
												title="May, 2016 - 2 Posts" data-date="2016-5"><span
													class="month-name">May</span><span class="postcount"><span
														class="count-number">2</span> <span
														class="count-text">Posts</span></span></a></div>
										<div class="month"><span class="month-name">Jun</span><span
												class="postcount"><span class="count-number">0</span> <span
													class="count-text">Posts</span></span></div>
										<div class="month"><span class="month-name">Jul</span><span
												class="postcount"><span class="count-number">0</span> <span
													class="count-text">Posts</span></span></div>
										<div class="month last"><span class="month-name">Aug</span><span
												class="postcount"><span class="count-number">0</span> <span
													class="count-text">Posts</span></span></div>
										<div class="month"><span class="month-name">Sep</span><span
												class="postcount"><span class="count-number">0</span> <span
													class="count-text">Posts</span></span></div>
										<div class="month"><span class="month-name">Oct</span><span
												class="postcount"><span class="count-number">0</span> <span
													class="count-text">Posts</span></span></div>
										<div class="month has-posts"><a href="https://smartinsurance.com/2016/11/"
												title="November, 2016 - 1 Post" data-date="2016-11"><span
													class="month-name">Nov</span><span class="postcount"><span
														class="count-number">1</span> <span
														class="count-text">Post</span></span></a></div>
										<div class="month last"><span class="month-name">Dec</span><span
												class="postcount"><span class="count-number">0</span> <span
													class="count-text">Posts</span></span></div>
									</div>
								</div>
							</div><!-- END - Archives Calendar Widget by Aleksei Polechin - alek´ - http://alek.be -->
						</div><!-- .calendar -->

						<h3 class="col-light-blue">Categories</h3>
						<a href="https://smartinsurance.com/category/careers/"
							title="Do you want to join the Smart family?">Careers</a> (1)<br />
						<a href="https://smartinsurance.com/category/news/"
							title="All the latest that&#039;s happening at Smart Insurance and in the F&amp;I industry">News</a>
						(12)<br />
					</div><!-- .sidebar__content -->
				</div>

				<div class="col-xs-12 col-md-8 block block--padded">


					<div class="row">

						<article id="post-22268" class="col-xs-12 col-lg-11 post">

							<div class="post-thumb">
								<a href="https://smartinsurance.com/smart-fund-raising-children-need/"
									title="Read more about Smart Fund Raising for Children in Need">
									<img width="270" height="160"
										src="https://smartinsurance.com/wp-content/uploads/2017/11/FB_IMG_1511350432181-270x160.jpg"
										class="attachment-small-news size-small-news wp-post-image" alt=""
										srcset="https://smartinsurance.com/wp-content/uploads/2017/11/FB_IMG_1511350432181-270x160.jpg 270w, https://smartinsurance.com/wp-content/uploads/2017/11/FB_IMG_1511350432181-850x500.jpg 850w"
										sizes="(max-width: 270px) 100vw, 270px" /> </a>
							</div>

							<div class="post-meta">
								<span class="col-light-blue bold"><a href="https://smartinsurance.com/category/news/"
										rel="category tag">News</a></span> <span class="posted-on"><i
										class="zmdi zmdi-calendar col-light-blue"></i> <a
										href="https://smartinsurance.com/smart-fund-raising-children-need/"
										rel="bookmark"><time class="entry-date published updated"
											datetime="2017-11-22T13:56:26+00:00">22nd November 2017</time></a></span>
							</div><!-- .post-meta -->

							<h2 class="h4"><a href="https://smartinsurance.com/smart-fund-raising-children-need/"
									rel="bookmark" class="col-dark-blue">Smart Fund Raising for Children in Need</a>
							</h2>

							<p>On Friday 17th November Smart Insurance were very proud to support the BBC's Children in
								Need appeal.

								The whole UK ev... <a
									href="https://smartinsurance.com/smart-fund-raising-children-need/"
									title="Read more about Smart Fund Raising for Children in Need">Read More <i
										class="zmdi zmdi-chevron-right"></i></a></p>

						</article><!-- #post-## -->


						<article id="post-20330" class="col-xs-12 col-lg-11 post">

							<div class="post-thumb">
								<a href="https://smartinsurance.com/value-added-product-provider-year-2017/"
									title="Read more about Value Added Product Provider of the Year 2017">
									<img width="243" height="160"
										src="https://smartinsurance.com/wp-content/uploads/2017/11/17_09_FI_HighlyCommendedCrest-243x160.jpg"
										class="attachment-small-news size-small-news wp-post-image" alt="" /> </a>
							</div>

							<div class="post-meta">
								<span class="col-light-blue bold"><a href="https://smartinsurance.com/category/news/"
										rel="category tag">News</a></span> <span class="posted-on"><i
										class="zmdi zmdi-calendar col-light-blue"></i> <a
										href="https://smartinsurance.com/value-added-product-provider-year-2017/"
										rel="bookmark"><time class="entry-date published updated"
											datetime="2017-10-19T16:13:14+00:00">19th October 2017</time></a></span>
							</div><!-- .post-meta -->

							<h2 class="h4"><a href="https://smartinsurance.com/value-added-product-provider-year-2017/"
									rel="bookmark" class="col-dark-blue">Value Added Product Provider of the Year
									2017</a></h2>

							<p>On the 19th October, Smart Insurance attended the 7th annual DealTrak F&amp;I Conference
								and Awards in Clarence Dock, Le... <a
									href="https://smartinsurance.com/value-added-product-provider-year-2017/"
									title="Read more about Value Added Product Provider of the Year 2017">Read More <i
										class="zmdi zmdi-chevron-right"></i></a></p>

						</article><!-- #post-## -->


						<article id="post-17775" class="col-xs-12 col-lg-11 post">

							<div class="post-thumb">
								<a href="https://smartinsurance.com/toyota-financial-services-see-5m-rise-revenue-thanks-minor-damage-insurance/"
									title="Read more about Toyota Financial Services See £5m Rise In Revenue Thanks to Minor Damage Insurance">
									<img width="270" height="160"
										src="https://smartinsurance.com/wp-content/uploads/2017/10/smart-insurance-mark-boote-270x160.jpg"
										class="attachment-small-news size-small-news wp-post-image" alt="" /> </a>
							</div>

							<div class="post-meta">
								<span class="col-light-blue bold"><a href="https://smartinsurance.com/category/news/"
										rel="category tag">News</a></span> <span class="posted-on"><i
										class="zmdi zmdi-calendar col-light-blue"></i> <a
										href="https://smartinsurance.com/toyota-financial-services-see-5m-rise-revenue-thanks-minor-damage-insurance/"
										rel="bookmark"><time class="entry-date published updated"
											datetime="2017-10-09T13:22:13+00:00">9th October 2017</time></a></span>
							</div><!-- .post-meta -->

							<h2 class="h4"><a
									href="https://smartinsurance.com/toyota-financial-services-see-5m-rise-revenue-thanks-minor-damage-insurance/"
									rel="bookmark" class="col-dark-blue">Toyota Financial Services See £5m Rise In
									Revenue Thanks to Minor Damage Insurance</a></h2>

							<p>News article from AM Online:

								Toyota Financial Services See £5m Rise In Revenue Thanks to Minor Damage Insurance

								U... <a
									href="https://smartinsurance.com/toyota-financial-services-see-5m-rise-revenue-thanks-minor-damage-insurance/"
									title="Read more about Toyota Financial Services See £5m Rise In Revenue Thanks to Minor Damage Insurance">Read
									More <i class="zmdi zmdi-chevron-right"></i></a></p>

						</article><!-- #post-## -->


						<article id="post-9435" class="col-xs-12 col-lg-11 post">


							<div class="post-meta">
								<span class="col-light-blue bold"><a href="https://smartinsurance.com/category/news/"
										rel="category tag">News</a></span> <span class="posted-on"><i
										class="zmdi zmdi-calendar col-light-blue"></i> <a
										href="https://smartinsurance.com/vantage-motor-group-top-gun-product-performance-award/"
										rel="bookmark"><time class="entry-date published updated"
											datetime="2017-07-28T14:07:17+00:00">28th July 2017</time></a></span> </div>
							<!-- .post-meta -->

							<h2 class="h4"><a
									href="https://smartinsurance.com/vantage-motor-group-top-gun-product-performance-award/"
									rel="bookmark" class="col-dark-blue">Vantage Motor Group Top Gun Product Performance
									Award</a></h2>

							<p>Vantage Motor Group Top Gun Product Performance

								Tuesday 25th July marked the first awards for the Vantage Motor Group... <a
									href="https://smartinsurance.com/vantage-motor-group-top-gun-product-performance-award/"
									title="Read more about Vantage Motor Group Top Gun Product Performance Award">Read
									More <i class="zmdi zmdi-chevron-right"></i></a></p>

						</article><!-- #post-## -->


						<article id="post-9055" class="col-xs-12 col-lg-11 post">


							<div class="post-meta">
								<span class="col-light-blue bold"><a href="https://smartinsurance.com/category/news/"
										rel="category tag">News</a></span> <span class="posted-on"><i
										class="zmdi zmdi-calendar col-light-blue"></i> <a
										href="https://smartinsurance.com/smart-insurance-complete-claims-team-relocation/"
										rel="bookmark"><time class="entry-date published updated"
											datetime="2017-07-26T09:32:56+00:00">26th July 2017</time></a></span> </div>
							<!-- .post-meta -->

							<h2 class="h4"><a
									href="https://smartinsurance.com/smart-insurance-complete-claims-team-relocation/"
									rel="bookmark" class="col-dark-blue">Smart Insurance complete claims team
									relocation</a></h2>

							<p>On the 13th July, on behalf Red Sands Insurance Company Europe Limited, Smart Insurance
								have completed the relocation of... <a
									href="https://smartinsurance.com/smart-insurance-complete-claims-team-relocation/"
									title="Read more about Smart Insurance complete claims team relocation">Read More <i
										class="zmdi zmdi-chevron-right"></i></a></p>

						</article><!-- #post-## -->


						<article id="post-7328" class="col-xs-12 col-lg-11 post">


							<div class="post-meta">
								<span class="col-light-blue bold"><a href="https://smartinsurance.com/category/news/"
										rel="category tag">News</a></span> <span class="posted-on"><i
										class="zmdi zmdi-calendar col-light-blue"></i> <a
										href="https://smartinsurance.com/smart-insurance-appoints-nick-franklin-role-sales-director/"
										rel="bookmark"><time class="entry-date published updated"
											datetime="2017-07-07T13:14:12+00:00">7th July 2017</time></a></span> </div>
							<!-- .post-meta -->

							<h2 class="h4"><a
									href="https://smartinsurance.com/smart-insurance-appoints-nick-franklin-role-sales-director/"
									rel="bookmark" class="col-dark-blue">Smart Insurance appoints Nick Franklin to the
									role of Sales Director</a></h2>

							<p>News Article from AM Online:

								http://www.am-online.com/news/people-news/2017/07/06/smart-insurance-services-appoints-n...
								<a href="https://smartinsurance.com/smart-insurance-appoints-nick-franklin-role-sales-director/"
									title="Read more about Smart Insurance appoints Nick Franklin to the role of Sales Director">Read
									More <i class="zmdi zmdi-chevron-right"></i></a></p>

						</article><!-- #post-## -->


						<article id="post-7298" class="col-xs-12 col-lg-11 post">


							<div class="post-meta">
								<span class="col-light-blue bold"><a href="https://smartinsurance.com/category/news/"
										rel="category tag">News</a></span> <span class="posted-on"><i
										class="zmdi zmdi-calendar col-light-blue"></i> <a
										href="https://smartinsurance.com/june-step-challenge/" rel="bookmark"><time
											class="entry-date published updated"
											datetime="2017-06-30T08:56:23+00:00">30th June 2017</time></a></span> </div>
							<!-- .post-meta -->

							<h2 class="h4"><a href="https://smartinsurance.com/june-step-challenge/" rel="bookmark"
									class="col-dark-blue">June Step Challenge</a></h2>

							<p>The 01st July concluded our June month of movement and brought our step challenge to an
								end.

								Almost two thirds of the... <a href="https://smartinsurance.com/june-step-challenge/"
									title="Read more about June Step Challenge">Read More <i
										class="zmdi zmdi-chevron-right"></i></a></p>

						</article><!-- #post-## -->


						<article id="post-580" class="col-xs-12 col-lg-11 post">

							<div class="post-thumb">
								<a href="https://smartinsurance.com/minor-damage-repair-company-shine-launched-training-school-repair-technicians/"
									title="Read more about Minor Damage Repair Company Shine! has Launched a Training School for Repair Technicians">
									<img width="270" height="160"
										src="https://smartinsurance.com/wp-content/uploads/2017/03/training-centre-270x160.jpg"
										class="attachment-small-news size-small-news wp-post-image" alt="" /> </a>
							</div>

							<div class="post-meta">
								<span class="col-light-blue bold"><a href="https://smartinsurance.com/category/news/"
										rel="category tag">News</a></span> <span class="posted-on"><i
										class="zmdi zmdi-calendar col-light-blue"></i> <a
										href="https://smartinsurance.com/minor-damage-repair-company-shine-launched-training-school-repair-technicians/"
										rel="bookmark"><time class="entry-date published updated"
											datetime="2017-01-29T16:58:30+00:00">29th January 2017</time></a></span>
							</div><!-- .post-meta -->

							<h2 class="h4"><a
									href="https://smartinsurance.com/minor-damage-repair-company-shine-launched-training-school-repair-technicians/"
									rel="bookmark" class="col-dark-blue">Minor Damage Repair Company Shine! has Launched
									a Training School for Repair Technicians</a></h2>

							<p>News article from AM Online:

								http://www.am-online.com/independents/news/2017/01/17/shine-launches-technician-academy-...
								<a href="https://smartinsurance.com/minor-damage-repair-company-shine-launched-training-school-repair-technicians/"
									title="Read more about Minor Damage Repair Company Shine! has Launched a Training School for Repair Technicians">Read
									More <i class="zmdi zmdi-chevron-right"></i></a></p>

						</article><!-- #post-## -->


						<article id="post-577" class="col-xs-12 col-lg-11 post">

							<div class="post-thumb">
								<a href="https://smartinsurance.com/new-offices-smart-insurance/"
									title="Read more about New Offices for Smart Insurance">
									<img width="270" height="160"
										src="https://smartinsurance.com/wp-content/uploads/2017/03/New-Office-270x160.jpg"
										class="attachment-small-news size-small-news wp-post-image" alt="" /> </a>
							</div>

							<div class="post-meta">
								<span class="col-light-blue bold"><a href="https://smartinsurance.com/category/news/"
										rel="category tag">News</a></span> <span class="posted-on"><i
										class="zmdi zmdi-calendar col-light-blue"></i> <a
										href="https://smartinsurance.com/new-offices-smart-insurance/"
										rel="bookmark"><time class="entry-date published updated"
											datetime="2016-11-29T16:58:34+00:00">29th November 2016</time></a></span>
							</div><!-- .post-meta -->

							<h2 class="h4"><a href="https://smartinsurance.com/new-offices-smart-insurance/"
									rel="bookmark" class="col-dark-blue">New Offices for Smart Insurance</a></h2>

							<p>Following the successes of 2016, Smart opened their brand new offices on November 14th in
								Moira, Derbyshire. The new off... <a
									href="https://smartinsurance.com/new-offices-smart-insurance/"
									title="Read more about New Offices for Smart Insurance">Read More <i
										class="zmdi zmdi-chevron-right"></i></a></p>

						</article><!-- #post-## -->


						<article id="post-573" class="col-xs-12 col-lg-11 post">

							<div class="post-thumb">
								<a href="https://smartinsurance.com/smart-insurance-ams-insurance-services-partnership-new-dealer-product/"
									title="Read more about Smart Insurance and AMS Insurance Services in Partnership for New Dealer Product">
									<img width="270" height="160"
										src="https://smartinsurance.com/wp-content/uploads/2017/03/Asset-Secure-Logo-blue-270x160.jpg"
										class="attachment-small-news size-small-news wp-post-image" alt="" /> </a>
							</div>

							<div class="post-meta">
								<span class="col-light-blue bold"><a href="https://smartinsurance.com/category/news/"
										rel="category tag">News</a></span> <span class="posted-on"><i
										class="zmdi zmdi-calendar col-light-blue"></i> <a
										href="https://smartinsurance.com/smart-insurance-ams-insurance-services-partnership-new-dealer-product/"
										rel="bookmark"><time class="entry-date published updated"
											datetime="2016-05-29T16:57:57+00:00">29th May 2016</time></a></span> </div>
							<!-- .post-meta -->

							<h2 class="h4"><a
									href="https://smartinsurance.com/smart-insurance-ams-insurance-services-partnership-new-dealer-product/"
									rel="bookmark" class="col-dark-blue">Smart Insurance and AMS Insurance Services in
									Partnership for New Dealer Product</a></h2>

							<p>Minor damage cover specialists, Smart Insurance, and AMS Insurance Services have formed a
								partnership to provide a new a... <a
									href="https://smartinsurance.com/smart-insurance-ams-insurance-services-partnership-new-dealer-product/"
									title="Read more about Smart Insurance and AMS Insurance Services in Partnership for New Dealer Product">Read
									More <i class="zmdi zmdi-chevron-right"></i></a></p>

						</article><!-- #post-## -->


						<article id="post-566" class="col-xs-12 col-lg-11 post">

							<div class="post-thumb">
								<a href="https://smartinsurance.com/cdx16-show-great-success/"
									title="Read more about CDX16 Show A &#8220;Great Success&#8221;">
									<img width="270" height="160"
										src="https://smartinsurance.com/wp-content/uploads/2017/03/news-1.jpg"
										class="attachment-small-news size-small-news wp-post-image" alt="" /> </a>
							</div>

							<div class="post-meta">
								<span class="col-light-blue bold"><a href="https://smartinsurance.com/category/news/"
										rel="category tag">News</a></span> <span class="posted-on"><i
										class="zmdi zmdi-calendar col-light-blue"></i> <a
										href="https://smartinsurance.com/cdx16-show-great-success/" rel="bookmark"><time
											class="entry-date published updated"
											datetime="2016-05-29T16:56:01+00:00">29th May 2016</time></a></span> </div>
							<!-- .post-meta -->

							<h2 class="h4"><a href="https://smartinsurance.com/cdx16-show-great-success/" rel="bookmark"
									class="col-dark-blue">CDX16 Show A &#8220;Great Success&#8221;</a></h2>

							<p>“A considerable interest from dealers in our minor damage insurance product.” That’s the
								comment from Smart Insura... <a
									href="https://smartinsurance.com/cdx16-show-great-success/"
									title="Read more about CDX16 Show A &#8220;Great Success&#8221;">Read More <i
										class="zmdi zmdi-chevron-right"></i></a></p>

						</article><!-- #post-## -->


						<article id="post-586" class="col-xs-12 col-lg-11 post">

							<div class="post-thumb">
								<a href="https://smartinsurance.com/insurethat-enter-automarket-smart-insurance/"
									title="Read more about InsureThat Enter Automarket with Smart Insurance">
									<img width="270" height="160"
										src="https://smartinsurance.com/wp-content/uploads/2017/03/InsureThat-270x160.jpg"
										class="attachment-small-news size-small-news wp-post-image" alt="" /> </a>
							</div>

							<div class="post-meta">
								<span class="col-light-blue bold"><a href="https://smartinsurance.com/category/news/"
										rel="category tag">News</a></span> <span class="posted-on"><i
										class="zmdi zmdi-calendar col-light-blue"></i> <a
										href="https://smartinsurance.com/insurethat-enter-automarket-smart-insurance/"
										rel="bookmark"><time class="entry-date published updated"
											datetime="2016-01-29T16:50:20+00:00">29th January 2016</time></a></span>
							</div><!-- .post-meta -->

							<h2 class="h4"><a
									href="https://smartinsurance.com/insurethat-enter-automarket-smart-insurance/"
									rel="bookmark" class="col-dark-blue">InsureThat Enter Automarket with Smart
									Insurance</a></h2>

							<p>A new service giving non-regulated dealers free IAR status, 30 day free insurance for
								customers and access to additional... <a
									href="https://smartinsurance.com/insurethat-enter-automarket-smart-insurance/"
									title="Read more about InsureThat Enter Automarket with Smart Insurance">Read More
									<i class="zmdi zmdi-chevron-right"></i></a></p>

						</article><!-- #post-## -->

					</div><!-- .row -->


				</div>
			</div><!-- .row -->
	</div><!-- .container-fluid -->


	<footer class="footer bg-vdark-blue col-white small">
		<div class="row">
			<div class="col-xs-12 col-md-2">
				<p class="logo logo--footer"><a href="https://smartinsurance.com/" rel="home">Smart Insurance</a></p>

				<p class="copyright"><span class="col-light-blue">&copy;</span> 2020</p>
			</div>

			<div class="footer__content col-xs-12 col-md-8 col-lg-6 col-lg-offset-1 align-centre">
				<p>Smart cover policy is Administered by AutoProtect (MBI) Limited, Warwick House, Roydon Road, Harlow,
					Essex, CM19 5DY. (Registered in England, No.05089293).</p>
				<p>AutoProtect (MBI) Limited is fully authorised (FRN 312143) and regulated by the Financial Conduct
					Authority (FCA) Register No.312143</p>
			</div><!-- .footer__content -->

			<div class="col-xs-12 col-md-2 col-lg-offset-1 credit">
				<p><a href="#" class="col-white to-top">Back to top <i class="zmdi zmdi-chevron-up"></i></a></p>
				<p>Website by <a href="http://www.fantasticmedia.co.uk" target="_blank"
						title="Website design and development services" class="bold col-white">Fantastic Media</a></p>
			</div>
		</div><!-- .row -->
	</footer>

	</div><!-- #website-container -->

	<script type='text/javascript'
		src='{% static "indexcss/jquery-ui.min.js" %}'></script>
	<script type='text/javascript'
		src='{% static "indexcss/owl.carousel.min.js" %}'></script>
	<script type='text/javascript' src='{% static "indexcss/bootstrap.min.js" %}'></script>
	<script type='text/javascript'
		src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCK67WzdNc0fCtCs6L8DA3E0JUcb6SfcnY&#038;ver=4.7.16'>
	</script>
	<script type='text/javascript'
		src='{% static "indexcss/plupload.full.min.js" %}'></script>
	<script type='text/javascript'
		src='{% static  "indexcss/jquery.ui.touch-punch.min.js"%} '>
	</script>
	<script type='text/javascript'>
		/* <![CDATA[ */
		var localizedData = {
			"ajax_url": "https:\/\/smartinsurance.com\/wp-admin\/admin-ajax.php"
		};
		/* ]]> */
	</script>
	<script type='text/javascript' src='{% static "indexcss/site.min.js" %}'></script>
	<script type='text/javascript' src='{% static "indexcss/wp-embed.min.js" %}'></script>
	<!--Start Cookie Script-->
	<script type="text/javascript" charset="UTF-8" src="{% static 'indexcss/b57a4a201ce37a2a35405d85053837d0.js' %}">
	</script>
	<!--End Cookie Script-->
	<!--Start Mouseflow Script-->
	<script type="text/javascript">
		window._mfq = window._mfq || [];
		(function () {
			var mf = document.createElement("script");
			mf.type = "text/javascript";
			mf.async = true;
			mf.src = "{% static 'indexcss/3955fe1f-bde7-496a-b810-3c34c578d159.js' %}";
			document.getElementsByTagName("head")[0].appendChild(mf);
		})();
	</script>
	<!--End Mouseflow Script-->
</body>

</html>